max-epoch: 5
max-update: 200000

max-tokens: 4096

num-workers: 8
no-progress-bar: True
log-interval: 100
seed: 1
report-accuracy: True

arch: transformer
share-decoder-input-output-embed: True
optimizer: adam
lr-scheduler: inverse_sqrt
warmup-init-lr: 1e-7
warmup-updates: 4000

lr: 1e-3
adam_betas: (0.9,0.98)

criterion: label_smoothed_cross_entropy
label_smoothing: 0.1

dropout: 0.3

activation-fn: relu

encoder-layers: 6
encoder-embed-dim: 512
encoder-attention-heads: 8
encoder-ffn-embed-dim: 2048

decoder-layers: 6
decoder-embed-dim: 512
decoder-attention-heads: 8
decoder-ffn-embed-dim: 2048

attention-dropout: 0.1
activation-dropout: 0.1
